ul.a{
    list-style-type:armenian;
}
ul.b{
    list-style-type: decimal-leading-zero;
}
ol.c{
    list-style-type: georgian;
}


ol.d li {

    list-style-image: url(https://mdn.mozillademos.org/files/11981/starsolid.gif);
  }


